body {
  margin: 0;
  padding: 0;
  background-color: #0b0f19;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  text-align: center;
  margin-top: 100px;
}

.title {
  font-size: 50px;
  color: #ff3c3c;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  color: #cfcfcf;
  margin-bottom: 40px;
}

.upload-box {
  margin-bottom: 30px;
}

.detect-btn {
  background-color: #ff3c3c;
  border: none;
  padding: 15px 30px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.detect-btn:hover {
  background-color: #ff1f1f;
}

.result {
  margin-top: 30px;
  font-size: 28px;
  color: #00ff99;
}